{% if items %}
    <ul class="menu menu-parent-{{i+1}}">
        {% for item in items %}
            <li class="{{ item.classes | join(' ') }}">
                <a target="{{ item.target }}" rel="{{item.xfn}}" href="{{ item.link }}">{{ item.title }}</a>
                {% include "menu.twig" with {'items': item.children, i: i+1} %}
            </li>
        {% endfor %}
        <div class="sk__social mobile">
            <div class="sk__social--box">

                {% if szablon.facebook %}
                    <a class="sk__social--link2" target="_blank" rel="nofollow" href="{{szablon.facebook}}">
                        <img src="{{theme.link}}/assets/gfx/pages/fb_k.svg" alt="facebook" />
                    </a>
                {% endif %}

                {% if szablon.instagram %} 
                    <a class="sk__social--link2" target="_blank" rel="nofollow" href="{{szablon.instagram}}">
                        <img src="{{theme.link}}/assets/gfx/pages/inst_k.svg" alt="instagram" />
                    </a>
                {% endif %}

                {% if szablon.linkedin %} 
                    <a class="sk__social--link2" target="_blank" rel="nofollow" href="{{szablon.linkedin}}">
                        <img src="{{theme.link}}/assets/gfx/pages/in_k.svg" alt="linkedin" />
                    </a>
                {% endif %}
            
            </div>
            <div class="sk__social--line"></div>
        </div>
    </ul>
{% endif %}