<section id="uw" class="uw">
    <div class="uw__wrapper wrapper">
        <div class="uw__row">
            <div class="uw__textbox uw__box">
                <h3 class="uw__textbox--text">{{layout.tresc}}</h3>
            </div>
            <div class="uw__phone uw__box">
                <a href="tel:{{szablon.telefon}}" class="uw__link">
                    <img src="{{theme.link}}/assets/gfx/pages/telg.svg" alt="tel">
                    {{szablon.telefon}}
                </a>
            </div>
            <div class="uw__mail uw__box">
                <a href="mailto:{{szablon.email}}" class="uw__link">
                    <img src="{{theme.link}}/assets/gfx/pages/mailg.svg" alt="mail">
                    {{szablon.email}}
                </a>
            </div>
            <div class="uw__btn uw__box">
                <a href="/kontakt/" class="button button__main">
                    NAPISZ DO NAS
                </a>
            </div>
        </div>
    </div>
</section>