<div class="ptab ptab_{{x}}" data-index="{{x}}" data-name='wzorniki_tkanin'>
    <div class="ptab__tab ptab__col2 ptab__wzorniki_tkanin">
        {% for t in l.items %}
        {% set tindex = loop.index %}
            <div class="ptab__tab--box">
                <div class="ptab__tab--title">{{t.tytul_item}}</div>
                <div class="ptab__tab--items">
                    {% for i in t.item %}
                        <div class="ptab__tab--item">
                            {% set img = Image(i.obraz_item) %}
                            <source srcset="{{img.src|towebp }}" type="image/webp">
                            <source srcset="{{ img.src|tojpg }}" type="image/jpeg">
                           
                            <a href="{{ img.src|towebp }}" rel="lightbox[{{x}}_{{tindex}}]" title="{{i.tytul_item}}">
                            <img src="{{ img.src('medium')|towebp }}" alt="{{ img.alt }}" {% if not skipLazy %}loading="lazy"{% endif %} class="ptab__tab--imagelow">
                            </a>
                            <div class="ptab__tab--name">{{i.tytul_item}}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            
        {% endfor %}
    </div>
    {% if l.pdf.url %}
    <div class="ptab__footer ptab__footer--pdf">
        <div class="ptab__footer--div">
            <div class="warning">!</div>
            <div class="ptab__footer--tekst">
                Przedstawiony asortyment jest standardowy. Jeżeli potrzebujesz innego lub nietypowego rozwiązania, <a href="/kontakt/">skontaktuj się z nami.</a>
            </div>
        </div>
        <a href="{{l.pdf.url}}" target="_blank" class="button button__main button__pdf">Zobacz pełny wzornik PDF</a>    
    </div>
    {% else %}
        <div class="ptab__footer">
        <div class="ptab__footer--div">
            <div class="warning">!</div>
            <div class="ptab__footer--tekst">
                Przedstawiony asortyment jest standardowy. Jeżeli potrzebujesz innego lub nietypowego rozwiązania, <a href="/kontakt/">skontaktuj się z nami.</a>
            </div>
        </div>
    </div>
    {% endif %}
</div>